* {
    font-family: 'Roboto', sans-serif;
}

.header-container {
    background-color: #1F2937;
    padding-right: 250px;
    padding-left: 250px;
    padding-top: 20px;
}

.logo-container {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    gap: 20px;
    margin-bottom: 130px;
}

.logo {
    flex: 1;
    font-weight: bold;
}
a { color: inherit; 
    text-decoration: none;
} 
.links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    padding: 0;
}

.title-container {
    background-color: #1F2937;
    padding-bottom: 130px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.img-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

.main-img {
    width: 600px;
    height: auto;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
}

.signup-title button {
    background-color: #3882f6;
    color: #F9FAF8;
    margin-top: 15px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 800;
    border: none;
}

.title-info {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 30px;
}

.info {
    max-width: 200px;
}

.info-text {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
}

.info-container img {
    width: 200px;
    height: 200px;
    border: 5px #3882f6 solid;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 140px 340px;
    margin-bottom: 100px;
}

.quote {
    color: #1F2937;
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
}

.br {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    display: flex;
    justify-content: flex-end;
}

.signup-container {
    background-color: #3882f6;
    color: #F9FAF8;
    margin: 0px 200px 100px 200px;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.call {
    font-size: 24px;
    font-weight: bold;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.call-subtext {
    font-size: 18px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: auto;
}

.signup {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 800;
    border: 2px #F9FAF8 solid;
    background-color: transparent;
    color: #F9FAF8;

}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 230px;
    color: #F9FAF8;
    font-size: 20px;
}